<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %} APPARTOO TEST {% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        {#Appel des fichiers bootstap en CDN#}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/appartoo/css/style.css') }}">



    </head>
    <body>
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation" id="fixed">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="{{ path('appartoo_homepage') }}">Appartoo Test</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding-top:13px;">
                <ul class="nav navbar-nav navbar-right">
                    {% if app.user %}
                        <li>
                            <a href="{{ path('appartoo_list') }}">UTILISATEURS</a>
                        </li>
                        <li>
                            <a href="{{ path('appartoo_contact') }}">MON CARNET</a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_profile_show') }}">PROFIL</a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}">LOGOUT ({{ app.user |upper}})</a>
                        </li>

                    {% else %}
                        <li>
                            <a href="{{ path('fos_user_security_login') }}">CONNEXION</a>
                        </li>
                    {% endif %}

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
        {% block body %}
        {% endblock %}
        {#Appel des fichiers bootstap en CDN#}
        <script src="{{ asset('bundles/appartoo/js/jquery-1.11.3.min.js') }}"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
