
{% extends '::base.html.twig' %}

{% block body %}

    <h1 align="center">MES CONTACTS</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Telephone</th>
            <th>Email</th>
            <th>Adresse</th>
        </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}

            <tr>

                <td>{{ contact.nom }}</td>
                <td>{{ contact.prenom }}</td>
                <td>{{ contact.telephone }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.adresse }}</td>
                <td>
                    <form action="#">
                        <a href="{{ path('appartoo_delete', { 'id': contact.id }) }}" onclick="return confirm('Voulez vous Réelement Supprimer ce Contact ?')">Supprimer </a>
                    </form>

                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
{% endblock %}
