{% extends '::base.html.twig' %}

{% block body %}

    <h1 align="center">LISTE DES UTILISATEURS</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Telephone</th>
            <th>email</th>
        </tr>
        </thead>
        <tbody>
        {% for user in entities %}
            <tr>

                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.telephone }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <form action="#">

                        <a href="{{ path('appartoo_inscription',{ 'id': user.id }) }}">Ajouter à mon carnet</a>
                    </form>
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
