{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">

    <p>Nom : {{ user.nom }}</p>
    <p>Prenom : {{ user.prenom }}</p>
    <p>Email : {{ user.email }}</p>
    <p>Adresse : {{ user.adresse }}</p>
    <p>Site Web : {{ user.siteweb }}</p>
    <p>Telephone : {{ user.telephone }}</p>

    <a href="{{ path('fos_user_profile_edit', { 'id': user.id }) }}">Editer son Profil</a>

</div>
