{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">

    <p><b>Nom :</b> {{ user.nom }}</p>
    <p><b>Prenom :</b> {{ user.prenom }}</p>
    <p><b>Email :</b> {{ user.email }}</p>
    <p><b>Adresse :</b> {{ user.adresse }}</p>
    <p><b>Site Web :</b> {{ user.siteweb }}</p>
    <p><b>Telephone :</b> {{ user.telephone }}</p>

    <a href="{{ path('fos_user_profile_edit', { 'id': user.id }) }}">Editer son Profil</a>

</div>
