{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>pseudo : {{ user.username }}</p>
    <p>Adresse email : {{ user.nom }}</p>
    <p>Adresse email : {{ user.prenom }}</p>
    <p>Adresse email : {{ user.email }}</p>
    <p>Adresse email : {{ user.adresse }}</p>
    <p>Adresse email : {{ user.siteweb }}</p>
    <p>Adresse email : {{ user.telephone }}</p>

</div>
